* {
    margin: 0;
    padding: 0;
}

body {
    /* background: black; */
    color: #fff;

}

.main {
    background: black;
}

.navbar-nav li a {
    color: #fff;
}

.contact {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.fixed-top {
    background-color: #fff;
    transition: ease-in-out 1s;
    font-weight: bold;
}

.fixed-top .navbar-nav li a {
    color: black !important;
}


#navbar_top {
    height: 63px;
}

.triangle {
    width: 340px;
    height: 340px;
    background: url(../images/work-bg.png) no-repeat 0 0;
    background-size: contain;
    opacity: 0.8;
    animation: spin 80s linear infinite;
    position: absolute;
    margin-left: -11rem;
    margin-top: 2rem;

}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(360deg)
    }
}

.logo-image {
    position: relative;
    margin-top: -11rem;
    opacity: 0.9;
    margin-left: 7rem;
}

@media (max-width: 991.98px) {
    #navbar_top {
        height: auto;
    }
}

.gif {
    width: 400px;
    height: 400px;
}

.heading-font {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: justify;
}

.blue {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: absolute;
    offset-rotate: initial;
}

.white {
    bottom: 105px;
    height: 525px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.development {
    padding-bottom: 300px;
    padding-top: 100px;
    position: relative;
}

.development .blue {
    bottom: 0px;
    height: 225px;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

.development .white {
    bottom: -22px;
    height: 225px;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.development .white img,
.development .blue img {
    width: 100%;
}

.development .design-development {
    text-align: center;
    padding-top: 50px
}

.development .design-development i {
    font-size: 41px;
    background: #f48fb1;
    color: #fff;
    padding: 30px;
    border-radius: 50%;
    position: relative;
}

.development .design-development i::after {
    border: 1px solid #f48fb1;
    content: "";
    height: 120px;
    left: -10px;
    position: absolute;
    top: -10px;
    width: 120px;
    border-radius: 50%;
}

.development .design-development i::before {
    border: 1px solid #f48fb1;
    content: "";
    height: 140px;
    left: -20px;
    position: absolute;
    top: -20px;
    width: 140px;
    border-radius: 50%;
}

.development .design-development.one i {
    background: #0ceac5;
}

.development .design-development.one i::after,
.development .design-development.one i::before {
    border: 1px solid #0ceac5;
}

.development .design-development.three i {
    background: #82b1ff;
}

.development .design-development.three i::after,
.development .design-development.three i::before {
    border: 1px solid #82b1ff;
}

.development .design-development h2 {
    position: relative;
    color: #455a64;
    font-family: "Raleway", sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin: 55px auto 25px;
    width: fit-content;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: -o-fit-content;
}

.development .design-development h2::before {
    border: 1px solid #455a64;
    bottom: -15px;
    content: "";
    position: absolute;
    width: 100%;
}

.development .design-development p {
    color: #455a64;
    font-family: "Raleway", sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

@media (min-width: 1200px) and (max-width: 1439px) {


    .development {
        padding-bottom: 205px;
    }

    .development .white {
        bottom: -83px;
    }

    .development .blue {
        bottom: -60px;
    }

    .development {
        height: 600px;
        overflow: hidden;
        margin-top: -6rem;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    .development {
        height: auto;
        overflow: hidden;
    }

    .development .white {
        bottom: -100px;
    }

    .development .blue {
        bottom: -80px;
    }

}

@media (min-width: 768px) and (max-width: 991px) {

    .development {
        margin-top: 30px;
    }

    .development {
        height: auto;
        overflow: hidden;
    }

    .development .white {
        bottom: -100px;
    }

    .development .blue {
        bottom: -90px;
    }

}

@media (min-width: 550px) and (max-width: 767px) {

    .development {
        padding-bottom: 100px;
        height: auto;
    }

    .works .work-text {
        margin-left: 0px;
    }

    .development .blue {
        height: 65px;
    }

    .development .white {
        bottom: 0;
        height: 57px;
    }
}

/* work  */
.tm-welcome-text {
    margin-top: 65px;
    margin-bottom: 65px;
    font-size: 2.2rem;
}

.tm-font-400 {
    font-weight: 400;
}

.tm-text-light-gray {
    color: #CDCDCD;
}

.tm-text-gray {
    color: #CCCCCC;
}

.tm-text-white {
    color: #FFFFFF;
}

a.tm-text-white:hover,
a.tm-text-white:focus {
    color: #FFFFFF;
}

.tm-text-green {
    color: #99CC66;
}

.tm-text-cyan {
    color: #33CCCC;
}

.tm-text-yellow {
    color: #FFFF66;
}

.tm-text-orange {
    color: #CC9966;
}

.tm-bg-dark {
    background-color: #262626;
}

.tm-bg-dark-light {
    background-color: #404040;
}

hr {
    border-color: #666666;
    max-width: 70%;
}

.tm-timeline-item {
    margin-left: 70px;
}

.tm-timeline-item-inner {
    display: flex;
    align-items: center;
}

.tm-img-timeline {
    width: 160px;
    height: 160px;
    display: inline-block;
    vertical-align: middle;
}

.tm-timeline-connector {
    width: 55px;
    height: 3px;
    background-color: #404040;
}

.tm-timeline-connector-vertical {
    height: 60px;
    width: 3px;
    background-color: #404040;
    margin-left: 260px;
}

.tm-timeline-description {
    display: inline-block;
    vertical-align: middle;
    border-radius: 20px;
    padding: 35px 40px;
    max-width: 712px;
}

.tm-section-mb {
    margin-bottom: 85px;
}

.work {
    background-color: #000;
    padding: 1em;
}

.bg-work {
    position: relative;
    margin-top: -9rem;
}

@media (min-width: 1200px) {
    .tm-container-2 {
        max-width: 1170px;
    }
}

@media (max-width: 991px) {

    .tm-timeline-item {
        margin-left: 25px;
    }
}

@media (max-width: 767px) {
    .tm-timeline-item {
        margin-left: 0;
    }
}

@media (max-width: 584px) {
    .heading-font {
        font-size: 2.5rem;
        font-weight: bold;
        text-align: justify;
    }

    .gif {
        width: 341px;
        height: 341px;
    }

    .bg-work {
        position: relative;
        margin-top: -6rem;
        height: 100px;
    }


    .tm-timeline-item-inner {
        flex-direction: column;
    }

    .tm-timeline-connector {
        width: 3px;
        height: 55px;
    }

    .tm-timeline-connector-vertical {
        margin-left: auto;
        margin-right: auto;
    }
}

/* experience section
==================================================*/

#cliant-event {
    padding: 100px 0;
    /* background: #f3f3f3 */
}

.cliant-event {
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

.cliant-event h3 {
    font-family: 'Lato', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #425BB5;
    font-size: 16px;
    font-weight: bold
}

.cliant-event p {
    color: #888;
    margin-top: 20px;
    font-size: 15px;
}

.cliant-event.date {
    color: #000;
    font-size: 17px;
}

.cliant {
    padding-left: 0;
    list-style: none;
    position: relative;
}

.cliant:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.cliant-event {
    position: relative;
}

.cliant-event:hover .cliant-event-icon {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: #425BB5;
}

.cliant-event:hover .cliant-event-thumbnail {
    box-shadow: inset 40em 0 0 0 #425BB5;
}

.cliant-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 100%;
}

.cliant-event-copy h3 {
    font-size: 1.75em;
}

.cliant-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
    color: black;
}

.cliant-event-copy strong {
    font-weight: 700;
}

.cliant-event-copy p:not(.cliant-event-thumbnail) {
    padding-bottom: 1.2em;
}

.cliant-event-icon {
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
    transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #425BB5;
    outline: 10px solid #f3f3f3;
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    top: 0;
    left: 2em;
    width: 1em;
    height: 1em;
}

.cliant-event-thumbnail {
    -moz-transition: box-shadow 0.5s ease-in 0.1s;
    -o-transition: box-shadow 0.5s ease-in 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in;
    -webkit-transition-delay: 0.1s;
    -webkit-transition: box-shadow 0.5s ease-in 0.1s;
    transition: box-shadow 0.5s ease-in 0.1s;
    color: white;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    box-shadow: inset 0 0 0 0em #425BB5;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

.size-50 {
    font-size: 50px;
    line-height: 50px;
    color: black;
}

.h-50 {
    height: 50px;
    color: black;
}