.navbar-nav li a {
    color: black;
}

.contact {
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.fixed-top {
    background-color: #fff;
    transition: ease-in-out 1s;
    font-weight: bold;
}

.fixed-top .navbar-nav li a {
    color: black !important;
}


#navbar_top {
    height: 63px;
}

@media (max-width: 991.98px) {
    #navbar_top {
        height: auto;
    }
}

.intro-section {
    position: relative;
}

.intro-section,
.intro-section .container .row {
    height: 100vh;
    /* min-height: 1000px; */
}

.intro-section:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    background: #352961;
    border-bottom-right-radius: 200px;
}

@media (max-width: 991.98px) {
    .intro-section:before {
        width: 100%;
    }
}

.intro-section h1 {
    /* font-size: 3rem; */
    font-weight: 900;
    color: #fff;
}

.intro-section p {
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}


@media (max-width: 991.98px) {
    .intro-section p {
        min-width: 100%;
    }
}


@media (max-width: 991.98px) {
    .custom-owl-carousel .col-lg-5 {
        margin-top: 40%;
    }
}

.carousel-inner {
    border-radius: 224px 0px 0px 0px;
}

.carousel-control-next {
    right: 66px;
}

.carousel-control-prev-icon {
    background-color: black;
}

.carousel-control-next-icon {
    background-color: black;
}

/* indicatore  */
#indicator {
    position: fixed;
    top: 3.5rem;
    left: 0;
    height: 20px;
    background-color: black;
    z-index: 999;
    scroll-behavior: smooth;
}

/* end indicatore  */
.heading {
    font-weight: bold;
    text-transform: uppercase;
    padding: 1em;
    text-align: center;
}


/* slider  */
.parallax {
    /* The image used */
    background-image: url("../images/p1-1.png");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
}

.parallax1 {
    /* The image used */
    background-image: url("../images/p1-2.png");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax2 {
    /* The image used */
    background-image: url("../images/p1-3.png");

    /* Set a specific height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax3 {
    /* The image used */
    background-image: url("../images/p1-4.png");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* end slider  */

@media(max-width:762px) {
    .carousel-control-next {
        right: 0px;
    }

    .intro-section h1 {
        font-size: 1.5rem;
    }
}